{% extends "bank_app/base.html" %}


{% block content %}

<h3>STAFF details</h3>
<table>
    <tr>
<td>Username: {{ user.username }}</td>
<td>First name: {{ user.first_name }}</td>
<td>Last name: {{ user.last_name }}</td>
<td>Staff: {% if user.is_staff == 1 %} Yes {% else %} No {% endif %}</td>
    </tr>
</table>

<h3>All users</h3>
<table>
    {% for customer in customers  %}
    <tr>
        <td>First name: {{customer.user.first_name}}</td>
        <td>Last name: {{customer.user.last_name}}</td>
        <td>Rank: {{customer.rank}}</td>
        <td>Phone: {{customer.phone}}</td>
    </tr>
    {% endfor %}
</table>

<hr>

<h3>All accounts</h3>
<table>
    {% for account in accounts %}
    <tr>
        <td>Account owner: {{ account.user }}</td>
        <td>Account: {{account.account_number }}</td>
        <td>Balance: {% if account.balance.transaction__sum %}
            {{account.balance.transaction__sum|slice:"2:"}}
            {% else %}
            {{0}}
            {% endif %}
            DKK
        </td>
    </tr>
    {% endfor %}
</table>

<hr>

<button name="create" type='submit' onclick="location.href='{% url 'bank_app:create' %}'" >CREATE CUSTOMER ACCOUNT</button>

{% endblock %}
