{% extends "bank_app/base.html" %}


{% block content %}
<h1>Testing user details!</h1>
<p>Username: {{ user.username }}</p>
<p>First name: {{ user.first_name }}</p>
<p>Last name: {{ user.last_name }}</p>

<p>My accounts:</p>
{% for account in accounts %}
<tr>
    <td>{% if account.balance.transaction__sum %}
        {{account.balance.transaction__sum}}
        {% else %}
        {{0}}
        {% endif %}</td>
    <td> <a href="{% url 'bank_app:details' account.pk %}">{{account.account_number}}</a></td>
</tr>
{% endfor %}
<p></p>
<button name="create" type='submit' onclick="location.href='{% url 'bank_app:create' %}'" >CREATE CUSTOMER ACCOUNT</button>
{% endblock %}
